coveralls
responses
freezegun
openwisp-controller @ https://github.com/openwisp/openwisp-controller/tarball/master
# Needed to test integrations
openwisp-monitoring @ https://github.com/openwisp/openwisp-monitoring/tarball/master
openwisp-utils[qa]
